@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('//fastly.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css');
@import url('https://gist.githubusercontent.com/mfd/614e2e80a22b878bde63cb471cbe677e/raw/eef2aabfd0d588d43285431186a0cf70305ceb80/sanfrancisco-font.css');
@import url('https://rsms.me/inter/inter.css');

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-Black.woff2') format('woff2'),
        url('../font/SFProText-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-Bold.woff2') format('woff2'),
        url('../font/SFProText-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-BlackItalic.woff2') format('woff2'),
        url('../font/SFProText-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-Heavy.woff2') format('woff2'),
        url('../font/SFProText-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-BoldItalic.woff2') format('woff2'),
        url('../font/SFProText-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-HeavyItalic.woff2') format('woff2'),
        url('../font/SFProText-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-Medium.woff2') format('woff2'),
        url('../font/SFProText-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-Light.woff2') format('woff2'),
        url('../font/SFProText-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-LightItalic.woff2') format('woff2'),
        url('../font/SFProText-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-MediumItalic.woff2') format('woff2'),
        url('../font/SFProText-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-Regular.woff2') format('woff2'),
        url('../font/SFProText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-RegularItalic.woff2') format('woff2'),
        url('../font/SFProText-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-Semibold.woff2') format('woff2'),
        url('../font/SFProText-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-Thin.woff2') format('woff2'),
        url('../font/SFProText-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-SemiboldItalic.woff2') format('woff2'),
        url('../font/SFProText-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-ThinItalic.woff2') format('woff2'),
        url('../font/SFProText-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-UltralightItalic.woff2') format('woff2'),
        url('../font/SFProText-UltralightItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFProText';
    src: url('../font/SFProText-Ultralight.woff2') format('woff2'),
        url('../font/SFProText-Ultralight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

/* SFProText */

@font-face {
    font-family: 'Starife Demo';
    src: url('../font/StarifeDemoRegular.woff2') format('woff2'),
        url('../font/StarifeDemoRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brighton vintage';
    src: url('../font/Brightonvintage-Regular.woff2') format('woff2'),
        url('../font/Brightonvintage-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Banery';
    src: url('../font/Banery-Regular.woff2') format('woff2'),
        url('../font/Banery-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rosalina';
    src: url('../font/Rosalina-Regular.woff2') format('woff2'),
        url('../font/Rosalina-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 24pt';
    src: url('../font/BodoniModa24pt-ExtraBold.woff2') format('woff2'),
        url('../font/BodoniModa24pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 24pt';
    src: url('../font/BodoniModa24pt-ExtraBoldItalic.woff2') format('woff2'),
        url('../font/BodoniModa24pt-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 24pt';
    src: url('../font/BodoniModa24pt-Bold.woff2') format('woff2'),
        url('../font/BodoniModa24pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 24pt';
    src: url('../font/BodoniModa24pt-BoldItalic.woff2') format('woff2'),
        url('../font/BodoniModa24pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 24pt';
    src: url('../font/BodoniModa24pt-BlackItalic.woff2') format('woff2'),
        url('../font/BodoniModa24pt-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 24pt';
    src: url('../font/BodoniModa24pt-Black.woff2') format('woff2'),
        url('../font/BodoniModa24pt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 24pt';
    src: url('../font/BodoniModa24pt-Italic.woff2') format('woff2'),
        url('../font/BodoniModa24pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 24pt';
    src: url('../font/BodoniModa24pt-SemiBoldItalic.woff2') format('woff2'),
        url('../font/BodoniModa24pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 24pt';
    src: url('../font/BodoniModa24pt-SemiBold.woff2') format('woff2'),
        url('../font/BodoniModa24pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 24pt';
    src: url('../font/BodoniModa24pt-Regular.woff2') format('woff2'),
        url('../font/BodoniModa24pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 24pt';
    src: url('../font/BodoniModa24pt-MediumItalic.woff2') format('woff2'),
        url('../font/BodoniModa24pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Bodoni Moda 24pt';
    src: url('../font/BodoniModa24pt-Medium.woff2') format('woff2'),
        url('../font/BodoniModa24pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Centaury Display';
    src: url('../font/Centaury-Display.woff2') format('woff2'),
        url('../font/Centaury-Display.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Centaury Display';
    src: url('../font/Centaury-DisplayItalic.woff2') format('woff2'),
        url('../font/Centaury-DisplayItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Centaury';
    src: url('../font/Centaury-Italic.woff2') format('woff2'),
        url('../font/Centaury-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Centaury';
    src: url('../font/Centaury-Regular.woff2') format('woff2'),
        url('../font/Centaury-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jelita';
    src: url('../font/Jelita.woff2') format('woff2'),
        url('../font/Jelita.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jelita';
    src: url('../font/Jelita.woff2') format('woff2'),
        url('../font/Jelita.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Goldfish - Personal use';
    src: url('../font/GoldfishPersonaluse.woff2') format('woff2'),
        url('../font/GoldfishPersonaluse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Shape';
    src: url('../font/NewShape.woff2') format('woff2'),
        url('../font/NewShape.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Shape';
    src: url('../font/NewShape-Bold.woff2') format('woff2'),
        url('../font/NewShape-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'New Shape';
    src: url('../font/NewShape-Oblique.woff2') format('woff2'),
        url('../font/NewShape-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'New Shape';
    src: url('../font/NewShape-BoldOblique.woff2') format('woff2'),
        url('../font/NewShape-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Donor Type';
    src: url('../font/DonorType-Regular.woff2') format('woff2'),
        url('../font/DonorType-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'coffekan';
    src: url('../font/coffekan-Regular.woff2') format('woff2'),
        url('../font/coffekan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KENOKY';
    src: url('../font/KENOKY-Light.woff2') format('woff2'),
        url('../font/KENOKY-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graffiti Font';
    src: url('../font/GraffitiFontRegular.woff2') format('woff2'),
        url('../font/GraffitiFontRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Biscuit Recipe Demo';
    src: url('../font/BiscuitRecipeDemo.woff2') format('woff2'),
        url('../font/BiscuitRecipeDemo.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Hello Kayla';
    src: url('../font/HelloKayla-bbakey.woff2') format('woff2'),
        url('../font/HelloKayla-bbakey.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VEZTRO';
    src: url('../font/VEZTRORegular.woff2') format('woff2'),
        url('../font/VEZTRORegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Dublin';
    src: url('../font/NeueDublin.woff2') format('woff2'),
        url('../font/NeueDublin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kreftin Demo';
    src: url('../font/KreftinDemo-Regular.woff2') format('woff2'),
        url('../font/KreftinDemo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BROLIMO';
    src: url('../font/BROLIMO-Regular.woff2') format('woff2'),
        url('../font/BROLIMO-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Smithen';
    src: url('../font/Smithen.woff2') format('woff2'),
        url('../font/Smithen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Brilliantte Presonal Use Only';
    src: url('../font/BrillianttePresonalUseOnly.woff2') format('woff2'),
        url('../font/BrillianttePresonalUseOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Callista';
    src: url('../font/Callista.woff2') format('woff2'),
        url('../font/Callista.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Obstacle';
    src: url('../font/ObstacleRegular.woff2') format('woff2'),
        url('../font/ObstacleRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hoky Mint';
    src: url('../font/HokyMint-Regular.woff2') format('woff2'),
        url('../font/HokyMint-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dalmais';
    src: url('../font/Dalmais.woff2') format('woff2'),
        url('../font/Dalmais.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kallisa';
    src: url('../font/Kallisa.woff2') format('woff2'),
        url('../font/Kallisa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tryna No. 5';
    src: url('../font/TrynaNo5.woff2') format('woff2'),
        url('../font/TrynaNo5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}









:root {
    --fontEng: "Abel", sans-serif;
    --fontKor: "Iropke Batang", sans-serif;
    --fontSF: "SFProText";
    --fontSF: "Inter", sans-serif;
    --fontLG1: "Brighton vintage", sans-serif;
    --fontLG2: "Banery", sans-serif;
    --fontLG3: "Rosalina", sans-serif;
    --fontLG4: "Starife Demo", sans-serif;

    --mainBg: #F5F7F8;
    --pointColor: #F4CE14;
    --pointBg: #ededff;

    --black: #000;
    --black100: #111;
    --black150: #1B1A1D;
    --black200: #222;
    --black300: #333;
    --black400: #444;
    --black500: #555;
    --black600: #666;
    --black700: #797979;

    --white: #fff;
    --white100: #f9f9f9;
    --white200: #eeeeee;
    --white300: #dfdfdf;
    --white400: #cfcfcf;
    --white500: #c0c0c0;


    /* 폰트 셋팅 */
    font-family: var(--fontEng);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;

    /* 폰트 최적화 */
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    @media (max-width: 800px) {
        font-size: 14px;
        line-height: 1.4;
    }
}

/* // border-box 초기화 */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* // 공백 초기화 */
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
select,
table,
td,
textarea,
th,
ul,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

/* // 폰트 초기화  */
body,
button,
input,
select,
table,
textarea {
    font-family: var(--fontEng), var(--fontKor), "Apple SD Gothic Neo", "Malgun Gothic", "맑은 고딕", helvetica, sans-serif;
}

/* // 링크 초기화 */
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

/* // 스타일 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

ul {
    list-style: none;
}

em,
address {
    font-style: normal;
}

strong {
    font-weight: normal;
}

img {
    vertical-align: top;
    width: 100%;
}

/* // 디자인 초기화 */
input,
textarea,
button,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    font-size: 16px;
    border: 0;
}

/* // 스킵메뉴 */
#skip a {
    position: absolute;
    left: 10px;
    top: -92px;
    z-index: 100000;
    font-size: 1rem;
    padding: 10px 30px;
    color: var(--white);
    background: var(--black);
}

#skip a:focus,
#skip a:active {
    top: 10px;
}

/* // 글씨 숨기기 */
.blind {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* // IR(Image Replacement)
// 의미가 포함되어 있는 image를 배경으로 표현하고, 텍스트는 보이지 않게 설정하는 방법입니다. */
.ir {
    display: block;
    overflow: hidden;
    font-size: 0;
    line-height: 0;
    text-indent: -9999px;
    white-space: nowrap;
}