@import url(../css/reset.css);

body {
    /* overflow-x: hidden; */
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: calc(100% - 60px);
}

/* header */
#header {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 10px;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

#header .logo {
    font-size: 120px;
    line-height: 95%;
}

#header .nav {}

.nav .menu {}

.nav .menu ul {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.nav .menu ul li {}

.nav .menu ul li a {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 151%;
}

.nav .nav__msg {
    margin-top: 25px;
    width: 25vw;
    opacity: 1;
}

.nav .nav__msg ul {}

.nav .nav__msg ul li {
    font-size: 16px;
    font-family: var(--fontKor);
    line-height: 151%;
}

/* section1 */
#section1 {
    width: 100%;
    margin-top: 112px;
    position: relative;
}

#section1 .eye {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
    width: 30vw;
    height: 90%;
    background-image: url(../img/eye-min.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#section1 .sky {
    width: calc(100% - 60px);
    height: 100vh;
    margin: 0 auto;
    background-image: url(../img/sky-min.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#section1 .black {
    width: 100%;
    height: 550%;
    background-color: var(--black150);
    opacity: 0;
}

/* section2 */
#section2 {
    width: 100%;
    position: relative;
    background-color: var(--black150);
}

#section2 .sec2__text {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#section2 .sec2__text ul {
    padding: 8vw;
}

#section2 .sec2__text li {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#section2 .sec2__text li p {
    background-color: var(--black150);
    color: var(--white);
    font-size: 120px;
    font-family: var(--fontSF);
    line-height: 109%;

}

#section2 .sec2__text li .img {
    width: 100%;
    height: 7.5vw;
    border-radius: 100px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 5px;
    opacity: 0;
}

#section2 .sec2__text li:nth-child(1) .img {
    background-image: url(../img/first1-min.png);
    top: -20vw;
}

#section2 .sec2__text li:nth-child(2) .img {
    background-image: url(../img/first2-min.png);
    top: -30vw;
}

#section2 .sec2__text li:nth-child(3) .img {
    background-image: url(../img/first3-min.png);
    top: -40vw;
}

#section2 .sec2__text li:nth-child(4) .img {
    background-image: url(../img/first4-min.png);
    top: -50vw;
}

.sec2__text2 {
    width: 100%;
    color: var(--white);
    z-index: 10000;
}

.sec2__text2 .sec__title {
    font-size: 22px;
    text-align: center;
    margin: 168px;
}

.sec2__text2 .sec__msg {
    text-align: right;
    padding: 0 8vw;
}

.sec2__text2 .sec__msg>ul {
    display: inline-block;
}

.sec2__text2 .sec__msg>ul>li {
    font-size: 25px;
    font-family: var(--fontSF);
    text-align: left;
    position: relative;
}

.sec2__text2 .sec__profile {
    margin-top: 160px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 400px;
    opacity: 0;
}

.profile__photo {
    width: 35vw;
    height: 44vw;

    background-image: url(../img/photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.profile__msg {
    font-size: 16px;
    line-height: 151%;
    margin-left: 33px;
    font-family: var(--fontKor);
}