@import url(../css/reset.css);

body {
    background-color: #ecf3f6;
}

/* header */

#header {
    width: 100%;
    height: 100vh;
}

.header__inner {}

.header__inner .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14vw;
    font-family: var(--fontLG3);
    line-height: 2.5;
    z-index: 99999;
    text-transform: capitalize;
    cursor: pointer;
}

#header .logo span {
    display: block;
    text-align: center;
}

#header .logo span:nth-child(2) {
    transform: rotate(180deg);
}

.header__inner .menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 50000;

    @media (max-width:1280px) {
        font-size: 1rem;
    }
}

.header__inner .menu.bg {
    background: #ffffff63;
    backdrop-filter: blur(10px);
    opacity: 1;
    /* opacity: 0 animaition */

}

.header__inner .menu ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.header__inner .menu li a {
    font-size: 14px;
    font-family: var(--fontNGL);
    text-transform: uppercase;
    line-height: 151%;
    cursor: pointer;
}

/* section1 */

#section1 {
    position: relative;
    width: 100%;
    height: 100vh;
}

#section1 .nav__msg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: var(--fontKor);
    white-space: nowrap;
}

#section1 .sky {
    max-width: 100%;
    height: 100vh;
    background-image: url(../img/sky-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#section1 .black {
    width: 100px;
    height: 100px;
    border: 1.3px solid rgb(38, 35, 34);
    border-radius: 100%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--black);
    overflow: hidden;
    display: flex;
    justify-content: center;
    opacity: 1;
    /* opacity: 0; animation */
}

.black__btn {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    cursor: none;
}

.down__btn {
    width: 15px;
    height: 15px;
    padding: 20px 0;
}

.scroll__down {
    width: min-content;
    text-align: center;
    line-height: 130%;
}

/* section2 */

#section2 {
    background-color: var(--black150);
    color: var(--white);
    padding: 8vw;
    position: relative;
}

/* section2-1 */

.section2-1 {
    height: 100vh;
    position: relative;
    /* text-transform: uppercase; */
}

.section2-1 li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2-1 li p {
    font-size: 8.3vw;
    font-family: var(--fontNGL);
    line-height: 109%;
    margin: 0 1vw;
}

.section2-1 li .word {
    opacity: 0.1;
}

.section2-1 li .img {
    width: 100%;
    height: 6.3vw;
    border-radius: 100px;
    position: relative;
    top: 8px !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.section2-1 li:nth-child(1) .img {
    background-image: url(../img/sky-min.png);
    top: -20vw;
}

.section2-1 li:nth-child(2) .img {
    background-image: url(../img/first2.png);
    top: -29vw;
}

.section2-1 li:nth-child(3) .img {
    background-image: url(../img/sky-min.png);
    top: -38vw;
}

.section2-1 li:nth-child(4) .img {
    background-image: url(../img/first4.png);
    top: -47vw;
}

/* section2-2 */

.section2-2 {
    height: 100vh;
}

.section2-2 .sec__title {
    font-size: 16px;
    text-align: center;
    margin: 15vw;
}

.section2-2 .sec__msg {
    width: 50vw;
    text-align: left;
    margin-left: auto;
    margin-bottom: 15vw;
    font-family: var(--fontNGL);
    font-size: 26px;
}

@media(max-width:764px) {
    .section2-2 .sec__msg {
        font-size: 20px;
    }
}

/* section2-3 */

.section2-3 {
    height: 100vh;
}

.section2-3 .sec__profile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.profile__photo {
    position: relative;
    border-radius: 20px;
    width: 45%;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.profile__photo .img {
    position: absolute;
    background-image: url(../img/jin.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
    transition: all 1s;
}

#parallax__info {
    display: block;
    position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.profile__msg {
    line-height: 151%;
    margin-left: 2.3vw;
    font-family: var(--fontKor);
}

@media (max-width:764px) {
    .section2-3 .sec__profile {
        flex-direction: column;
        align-items: flex-start;
    }

    .profile__photo {
        margin: 12px 12px 20px 12px;
    }
}

@keyframes foldUnfold {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}


/* #section3 */

#section3 {
    background-color: var(--black150);
    padding: 8vw;
    margin: auto;
}

#section3 .sec__title {
    font-size: 16px;
    text-align: center;
    margin: 15vw;
    color: #fff;
}

.skill {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.columns {
    width: 33%;
    transform-origin: bottom left;
}

.column {
    width: 100%;
    margin-bottom: 30px;
    transform-origin: bottom left;

}

.column .box {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    padding: 35px;
    border: 1px solid #363636;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column .box .item {
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.column .box .item:nth-child(2) {
    justify-content: center;

}

.column .box .item.html {
    font-family: "Almendra Display", serif;
    font-size: 6vw;
}

.column .box .item.css {
    font-family: "Sixtyfour", sans-serif;
    font-size: 5vw;
}

.column .box .item.js {
    font-family: "Bungee Shade", sans-serif;
    font-size: 4vw;
    line-height: 97%;
    letter-spacing: 1.5px;
}

.column .box .item.php {
    font-family: "Fredericka the Great", serif;
    font-size: 6vw;
}

.column .box .item.jq {
    font-family: "Codystar", sans-serif;
    font-size: 5vw;
}

.column .box .item.python {
    font-family: "Griffy", system-ui;
    font-size: 5vw;
}

.column .box .item.react {
    font-family: "Rubik Puddles", system-ui;
    font-size: 5vw;
}

.column .box .item.vue {
    font-family: "Rubik Glitch", system-ui;
    font-size: 6vw;
    letter-spacing: 5px;
}

.column .box .item.sass {
    font-family: "Moirai One", system-ui;
    font-size: 6vw;
    letter-spacing: 2px;
}

.column .box .item.my {
    font-family: "Plaster", system-ui;
    font-size: 5vw;
}

.column .box .item.mongo {
    font-family: "Rubik Glitch Pop", system-ui;
    font-size: 5vw;
    line-height: 120%;
}

.column .box .item.node {
    font-family: "Foldit", sans-serif;
    font-size: 6vw;
}

.column .box .item.next {
    font-family: "Kablammo", system-ui;
    font-size: 5vw;
}

.column .box .item.fig {
    font-family: "Rubik Beastly", system-ui;
    font-size: 5vw;
}

.column .box .item.git {
    font-family: "Splash", cursive;
    font-size: 4vw;
}

.column .box .item span {
    font-size: 20px;
    color: #747475;
}

.columns.right {
    transform-origin: bottom right;
}

.columns.right .column {
    transform-origin: bottom right;
}

@media (max-width:1320px) {
    .column .box {
        padding: 25px;
    }
}

@media (max-width:1080px) {
    .column .box {
        padding: 20px;
    }
}

@media (max-width:900px) {
    .column .box {
        padding: 15px;
    }

    .column .box .item span {
        font-size: 14px;
    }
}

@media (max-width:764px) {
    .column .box {
        padding: 3px;
    }
}

/* #section4 */

#section4 {
    display: flex;
    flex-wrap: nowrap;
    width: 500%;
    background-color: #DAA39C;
    align-items: center;
    position: relative;
    z-index: -1;
}

#section4 .title {
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(-50%, -50%);
    font-size: 30vw;
    font-family: var(--fontNGL);
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 109%;
    color: var(--white);
    display: block;
}

#section4>section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgWrap {
    position: absolute;
    object-fit: fill;
}

.sec4__cont2 .imgWrap {
    bottom: 5%;
    left: 50%;
    transform: translateX(50%);
    width: 30%;
    height: 60%;
}

.imgWrap .img {
    width: 100%;
    height: 100%;
    background-image: url(../img/like1.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.sec4__cont3 .imgWrap {
    top: 10%;
    right: 60%;
    transform: translateX(50%);
    width: 30%;
    height: 60%;
}

.sec4__cont3 .imgWrap .img {
    background-image: url(../img/img2.png);
}

.sec4__cont4 .imgWrap {
    top: 60%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 62%;
}

.sec4__cont4 .imgWrap .img {
    background-image: url(../img/like2.png);
}

.sec4__cont5 .imgWrap {
    bottom: 0;
    left: 30%;
    transform: translateX(-50%);
    width: 40%;
    height: 65%;

}

.sec4__cont5 .imgWrap .img {
    background-image: url(../img/like4.png);
}

.circle {
    position: absolute;
    top: 25%;
    left: 80%;
    width: 300px;
    height: 300px;
    background-color: var(--black);
    border-radius: 100%;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sec4__cont3 .circle {
    top: 50%;
    left: 40%;
}

.sec4__cont4 .circle {
    top: 30%;
    left: 27%;
}

.sec4__cont5 .circle {
    top: 20%;
    left: 30%;
}

.circle p {
    font-family: var(--fontNGL);
    margin: 5px 0;
}

.circle p:nth-child(1) {
    font-size: 40px;
    font-family: var(--fontNGL);
    font-weight: bold;
    line-height: 109%;
}

.circle p:nth-child(2) {
    width: 65%;
    font-size: 16px;
    font-family: var(--fontKor);
    line-height: 132%;
    text-align: center;
    /* position: relative; */
}

.circle p:nth-child(3) {
    font-size: 16px;
    font-family: var(--fontNGL);
    line-height: 109%;
    text-align: center;
    /* position: relative; */
}

.circle p:nth-child(4) {
    font-size: 25px;
    margin-top: 12px;
    text-align: left;
    width: 55%;
}

.circle span {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 40px;
    border: 1.5px solid var(--white);
    border-radius: 50px;
    cursor: pointer;
}

.arrow {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
    width: 80px;
    height: 12px;
    background-image: url(../img/Arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.one {
    position: absolute;
    width: 150px;
    height: 150px;
    background-color: var(--white);
    border-radius: 100%;
}

.sec4__cont2 .one {
    top: 75%;
    left: 95%;
}

.sec4__cont3 .one {
    width: 100px;
    height: 100px;
    top: 5%;
    left: 40%;
}

.sec4__cont4 .one {
    width: 150px;
    height: 150px;
    top: 10%;
}

.sec4__cont5 .one {
    width: 120px;
    height: 120px;
    top: 60%;
    left: 40%;
}

/* #section5 */

#section5 {
    background-color: var(--black150);
    width: 100%;
    overflow: hidden;
}

#section5 h4 {
    font-size: 8vw;
    color: var(--white);
    line-height: 109%;
    font-family: var(--fontNGL);
    padding: 5vw;
}

.masonry {
    -moz-column-count: 1;
    column-count: 1;
    -moz-column-gap: 0;
    column-gap: 0;
    counter-reset: item-counter;
}

@media screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media screen and (min-width: 600px) {
    .masonry {
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media screen and (min-width: 800px) {
    .masonry {
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 5;
        column-count: 5;
    }
}

.item {
    box-sizing: border-box;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    padding: 10px;
    counter-increment: item-counter;
}

.item__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    height: 220px;
    font-size: 40px;
    background: currentColor;
    box-sizing: border-box;
    color: #fff;
    background-image: url(../img/ment1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all 0.3s;
}

.item__content .text {
    font-size: 18px;
    width: 80%;
    text-align: left;
    color: transparent;
    padding-bottom: 10px;
    font-family: var(--fontKor);
}

.item__content .date {
    font-size: 16px;
    text-align: right;
    color: transparent;
    font-family: var(--fontKor);
}

@media (max-width:1553px) {
    .item__content .text {
        font-size: 16px;
        width: 100%;
    }

    .item__content .date {
        font-size: 14px;
    }
}

.item__content:hover {
    background: #9cdac2;
}

.item__content:hover .text,
.item__content:hover .date {
    color: #fff;
}

.item__content:before {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 13px;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
    background-color: #222;
    content: counter(item-counter);
}

.item__content:after {
    color: #1c0004;
    content: "";
}

.item__content--small {
    background-image: url(../img/ment7.png);
    height: 100px;
}

.item__content--small:hover {
    background: #da9cb4;
}

.item__content--small:after {
    content: "";
}

.item__content--medium {
    background-image: url(../img/ment5.png);
    height: 175px;
}

.item__content--medium:hover {
    background: #dac29c;
}

.item__content--medium:after {
    content: "";
}

.item__content--large {
    background-image: url(../img/ment2.png);
    height: 280px;
}

.item__content--large:hover {
    background: #9cb4da;
}

.item__content--large:after {
    content: "";
}

/* contact */

#contact {
    width: 100%;
    background-color: #9cd3da;
    /* color: var(--white); */
}

#contact .contact {
    padding: 100px;
    font-size: 12vw;
    font-family: var(--fontNGE);
    line-height: 12.2vw;
}

#contact .text__info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 70px;
}

#contact .text__info h5,
#contact .text__info p {
    padding: 0 100px;
    font-family: var(--fontNGL);
    font-size: 1.5rem;
    font-weight: 600;
}

#contact .text__info li a {
    padding: 0 100px;
    font-size: 1.5rem;
    font-family: var(--fontNGL);
}

@media (max-width:912px) {

    #contact .text__info h5,
    #contact .text__info p,
    #contact .text__info li a {
        padding: 0 30px;
    }
}