@import url(../css/reset.css);

body {
    overflow: hidden;
}

/* header */
#header {
    position: fixed;
    width: 100%;
    z-index: 2000;
}

.header__inner {
    height: 100vh;
    position: relative;
}

.header__inner .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14vw;
    font-family: var(--fontLG3);
    /* font-family: "Obstacle"; */
    /* font-family: "New Shape"; */

    line-height: 2.5;
    z-index: 3000;
    /* text-transform: uppercase; */
    text-transform: capitalize;
}

#header .logo span {
    display: block;
    text-align: center;
}

#header .logo span:nth-child(2) {
    transform: rotate(180deg);
}

.header__inner .menu {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1500;
    width: 100%;

    @media (max-width:1280px) {
        font-size: 1rem;
    }
}

.header__inner .menu.bg {
    background: #ffffff63;
    backdrop-filter: blur(10px);
    opacity: 0;
}

.header__inner .menu ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.header__inner .menu li a {
    text-transform: uppercase;
    line-height: 151%;
}

#main {
    /* position: relative; */
    /* width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0; */
}

/* section1 */
#section1 {
    position: relative;
    width: 100%;
    height: 100vh;
}

#section1 .nav__msg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    text-align: center;
    font-family: var(--fontKor);
    white-space: nowrap;
}

#section1 .sky {
    max-width: 100%;
    height: 100vh;
    background-color: var(--black150);
    background-image: url(../img/sky-min.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#section1 .black {
    width: 100px;
    height: 100px;
    border: 1.3px solid rgb(38, 35, 34);
    border-radius: 100%;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--black);
    /* opacity: 0; */
    z-index: 30000;
    overflow: hidden;
    display: flex;
    justify-content: center;
    opacity: 0;
}

.black__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white);
    cursor: none;
}

.down__btn {
    width: 15px;
    height: 15px;
}

.scroll__down {
    width: min-content;
    text-align: center;
}

/* section2 */
#section2 {
    background-color: var(--black150);
    color: var(--white);
    padding: 8vw;
    /* margin-top: 2vw; */
}

/* section2 sec2__text*/
.sec2__text {
    height: 100vh;
    position: relative;
    /* text-transform: uppercase; */
}

.sec2__text ul {}

.sec2__text li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec2__text li p {
    font-size: 8.3vw;
    font-family: var(--fontSF);
    line-height: 109%;
    margin: 0 1vw;
}

.sec2__text li .word {
    opacity: 0.1;
}

.sec2__text li .img {
    width: 100%;
    height: 6.3vw;
    border-radius: 100px;
    position: relative;
    top: 0 !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    /* transform-origin: left;
    animation: foldUnfold 5s cubic-bezier(.215, .61, .355, 1);
    opacity: 0; */
}

.sec2__text li:nth-child(1) .img {
    background-image: url(../img/first1.png);
    top: -20vw;
}

.sec2__text li:nth-child(2) .img {
    background-image: url(../img/first2.png);
    top: -29vw;
}

.sec2__text li:nth-child(3) .img {
    background-image: url(../img/first3.png);
    top: -38vw;
}

.sec2__text li:nth-child(4) .img {
    background-image: url(../img/first4.png);
    top: -47vw;
}


/* section2 sec2__text2*/
.sec2__text2 {
    height: 100vh;
}

.sec2__text2 .sec__title {
    font-size: 16px;
    text-align: center;
    margin: 15vw;
}

.sec2__text2 .sec__msg {
    width: 50vw;
    text-align: left;
    margin-left: auto;
    margin-bottom: 15vw;
    font-family: var(--fontSF);
    font-size: 26px;
}


/* section2 sec2__text3*/
.sec2__text3 {
    height: 100vh;
}

.sec2__text3 .sec__profile {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.profile__photo {
    position: relative;
    width: 45%;
    padding-bottom: 56.25%;
    /* background: #000; */
    overflow: hidden;
    /* z-index: -1; */
}

.profile__photo .img {
    position: absolute;
    background-image: url(../img/jin.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 110%;
    height: 110%;
    left: -5%;
    top: -5%;
    transition: all 1s;
}

#parallax__info {
    display: none;
    /* position: fixed;
    left: 20px;
    bottom: 20px;
    z-index: 2000;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 20px;
    border-radius: 10px; */
}

.profile__msg {
    line-height: 151%;
    margin-left: 2.3vw;
    font-family: var(--fontKor);
}

@keyframes foldUnfold {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

/* #section3 */

#section3 {
    background-color: var(--black150);
    padding: 8vw;
}

#section3 .sec__title {
    font-size: 16px;
    text-align: center;
    margin: 15vw;
    color: #fff;
}

.skill {
    display: flex;
}

.columns {}

.column {}

.column .box {
    margin: 40px 20px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    padding: 35px;
    border: 1px solid #363636;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.column .box .item {
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;

}

.column .box .item:nth-child(2) {
    justify-content: center;
    font-size: 80px;
    letter-spacing: 1.7%;
}

.column .box .item span {
    font-size: 20px;
    color: #747475;
}