@font-face {
    font-family: 'Brilliantte Presonal Use Only';
    src: url('BrillianttePresonalUseOnly.woff2') format('woff2'),
        url('BrillianttePresonalUseOnly.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Callista';
    src: url('Callista.woff2') format('woff2'),
        url('Callista.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Obstacle';
    src: url('ObstacleRegular.woff2') format('woff2'),
        url('ObstacleRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hoky Mint';
    src: url('HokyMint-Regular.woff2') format('woff2'),
        url('HokyMint-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Dalmais';
    src: url('Dalmais.woff2') format('woff2'),
        url('Dalmais.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kallisa';
    src: url('Kallisa.woff2') format('woff2'),
        url('Kallisa.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tryna No. 5';
    src: url('TrynaNo5.woff2') format('woff2'),
        url('TrynaNo5.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

